@media print {
    body {
        background: white;
    }

    .md\:shadow-sm {
        shadow: none !important;
    }

    .md\:rounded-sm {
        border-radius: 0 !important;
    }

    @page {
        margin: 15mm;
    }
}